@CHARSET "UTF-8";
#login_box{
	width: 410px;
	height: 280px;
	background-color: white;
	margin: 0 auto;
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	margin-top: 180px;
	border-radius: 5px;
}
#login_box h1{
	font-size: 24px;
        font-family: sans-serif;
	line-height: 1.25;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
h2{
        margin-left: 20px;
        margin-right: 20px;
	font-size: 20px;
        font-family: sans-serif;
	line-height: 1.25;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.login_input{
	padding: 8px 10px;
	float: left;
	color: rgb(104, 104, 104);
	width: 225px;
}
.l_login{
	float: left;
	text-align: right;
	padding: 8px 5px 0 0;
	width: 100px;
}
#b_logar{
	padding: 9px;
	background-color: #363636;
	color: white;
	width: 90px;
	border-radius: 5px;
	border: 1px solid #1C1C1C;
	cursor: pointer;
	float: right;
	margin-right: 194px;
}
#b_logar:HOVER{
	background-color: #104E8B;
}
#login_bottom{
	border-top: 1px solid rgb(204, 204, 204);
	margin-top: 45px; 
}
.b_canc{
	padding: 9px;
	background-color: #363636;
	color: white;
	width: 90px;
	border-radius: 5px;
	border: 1px solid #1C1C1C;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}
.b_canc:HOVER{
	background-color: #104E8B;
}