@CHARSET "UTF-8";
body{
    background-color: #F5F5F5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #1C1C1C;
    clear: both;
}
.b_reports{
    height: 700px;
}
a{
    text-decoration: none;
    color: #1C1C1C;
}
#main_box{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
}
#main_box2{
    margin: 0 auto;
    padding: 10px;
}
.b_option{
    width: 280px;
    height: 104px;
    border-radius: 5px;
    float: left;
    margin: 20px;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
    padding-top: 81px;
    font-size: 23px;
    cursor: pointer;
}
.b_option:hover{
    border: 1px solid #4F4F4F;
    -moz-box-shadow: 0 0 8px #888;
    -webkit-box-shadow: 0 0 8px#888;
    box-shadow: 0 0 8px #888;
}
ul.ul_menu{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 60px;
    left: 0px;
    list-style: none;
    z-index: 9999;
}
ul.ul_menu li{
    width: 120px;
}
ul.ul_menu li a {
    display: block;
    margin-left: -2;
    width: 200px;
    height: 50px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    moz-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    padding-top: 27px;
    padding-left: 8px;
    cursor: pointer;
    margin: 10px;
}
ul.ul_menu #li_cadastro a{
    background-image: url(../images/new_user.png);
    background-size: 40% 100%;
    text-align: left;
    background-position: right;
    font-size: 18px;  
}
ul.ul_menu #li_concerto a{
    background-image: url(../images/new_concerto2.png);
    background-size: 40% 100%;
    text-align: left;
    background-position: right;
    font-size: 18px;  
}
ul.ul_menu #li_logout a{
    background-image: url(../images/exit.png);
    background-size: 40% 100%;
    text-align: left;
    background-position: right;
    font-size: 18px;  
}
ul.ul_menu #li_retirar a{
    background-image: url(../images/ok_icon.png);
    background-size: 40% 100%;
    text-align: left;
    background-position: right;
    font-size: 18px;  
}
h1{
    font-family: monospace;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 1.25;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.f_row{
    width: 550px;
    clear: both;
    padding: 10px 0 10px 0;
    margin-top: 20px;
}
.i_text{
    font-family: sans-serif;
    padding: 7px 10px;
    float: left;
    color: rgb(104, 104, 104);
    width: 242px;
    background-color: rgb(404, 404, 404);
}
.combo_user{
    padding: 8px 10px;
    float: left;
    color: rgb(104, 104, 104);
}
.i_text_low{
    padding: 8px 10px;
    float: left;
    color: rgb(104, 104, 104);
    width: 55px;
}
.l_cadastro{
    float: left;
    text-align: right;
    padding: 8px 5px 0 0;
    width: 200px;
}
#b_salvar{
    padding: 9px;
    background-color: #363636;
    color: white;
    width: 90px;
    border-radius: 5px;
    border: 1px solid #1C1C1C;
    cursor: pointer;
    float: right;
    margin-right: 78px;
    margin-bottom: 50px;
}
#b_salvar:HOVER{
    background-color: #104E8B;
}
.table_container{
    width: 1043px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}
.header{
    background-color: #4F4F4F;
    height: 40px;
    color: #E8E8E8;
    width: 100%;
}
.header_3{
    background-color: #4F4F4F;
    height: 40px;
    color: #E8E8E8;
    width: 100%;
}
.t_header{
    padding-top: 8px;
    clear: both;
}
.t_header tr{
    border: 1px solid rgb(204, 204, 204);
}

#td_last{
    border-color: #4F4F4F;
}
#btd_last{
    border-right: 0px; 
}
.body{
    overflow: auto;
    height: 100%;
    width: 100%;
}
.t_body{
    width: 100%;
    height: 100%;
}
.t_body div{
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    height: 25px;
    font-size: 14px;
}
.t_body div:hover{
    background-color: activecaption;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.t_body .d_id{
    width: 110px;
}
.t_body .d_id_a{
    width: 110px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_id_f{
    width: 110px;
    background-color: rgb(250,230,27);
}
.t_body .d_cliente{
    width: 290px;
}
.t_body .d_cliente_a{
    width: 290px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_cliente_f{
    width: 290px;
    background-color: rgb(250,230,27);
}
.t_body .d_cliente2{
    width: 210px;
}
.t_body .d_tipo{
    width: 145px;
}
.t_body .d_tipo_a{
    width: 145px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_tipo_f{
    width: 145px;
    background-color: rgb(250,230,27);
}
.t_body .d_fab{
    width: 190px;
}
.t_body .d_mod{
    width: 145px;
}
.t_body .d_mod_a{
    width: 145px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_mod_f{
    width: 145px;
    background-color: rgb(250,230,27);
}
.t_body .d_entrada{
    width: 135px;
}
.t_body .d_entrada_a{
    width: 135px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_entrada_f{
    width: 135px;
    background-color: rgb(250,230,27);
}
.t_body .d_saida{
    width: 135px;
}
.t_body .d_saida_a{
    width: 135px;
    background-color: rgb(235,37,37);
    color: rgb(255, 242, 150);
}
.t_body .d_saida_f{
    width: 135px;
    background-color: rgb(250,230,27);
}
.t_body .d_saida2{
    width: 180px;
    border-right: 1px solid rgb(204, 0, 0);
}
.t_body .d_saida3{
    width: 137px;
}
.t_body .d_entrada2{
    width: 186px;
}
.t_body .d_qtd_dias{
    width: 143px;
    border-bottom: 1px solid rgb(204, 0, 0);
}
.b_buscar{
    float: right;
    padding: 6px;
    margin-right: -296px;
    background-color: #4F4F4F;
    color: #E8E8E8;
    border: 1px solid #4F4F4F;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 999;
    margin-top: -1px;
}
.b_buscar:hover{
    background-color: #104E8B;
}
.i_pesq{
    float: right;
    padding: 8px;
    margin-right: 20px;
    width: 280px;
    margin-top: -4px;
    border-radius: 4px;
}
#bt_select{
    padding: 5px;
    float: right;
    margin-left: 4px;
    height: 35px;
    margin-top: 2px;
    background-color: #4F4F4F;
    color: #E8E8E8;
    border: 1px solid #4F4F4F;
    border-radius: 3px;
}
#bt_select:hover{
    background-color: #104E8B;	
}

#s_tpesq{
    padding: 8px 10px;
    float: right;
    color: rgb(104, 104, 104);
    margin-top: -4px;
    margin-right: 5px;
}

.pesq_data{
    padding: 6px 8px;
    float: right;
    color: rgb(104, 104, 104);
    margin-top: -4px;
    margin-right: 5px;
}

#pesq_dfin{
    margin-right: 25px;
}
#pesq_dinit{
    margin-right: 25px;
}

.export{
    height: 35px;
    margin-bottom: -12px;
    border-radius: 5px;
    margin-left: -5px;
    padding: 3px;
}
.export:hover{
    background: rgb(195, 195, 195);
}
#s_selc{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}