#dcompra{
    width: 550px;
    min-height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
}

#dcompra #dheader{
    width: 550px;
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 5px 5px 0 0;
    padding-top: 24px;
    color: whitesmoke;
    font-size: 16px;
}

#dcompra #dfooter{
    width: 550px;
    background-color: #F4F4F4;
    height: 30px;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
}
#dfooter h4{
    float: right;
    margin-right: 10px;
}

.dhselec{
    float: left;   
    margin-left: 13px;
}

#dhsala{
    float: left;
    margin-left: 20px;
    width: 60px;
}

.dhqtde{
    float: left;
    width: 80px;
    margin-left: 30px;
}

.dhqtde2{
    float: left;
    margin-left: 50px;
}

#dhorario{
    width: 60px;
    float: left;
    margin-left: 15px;
}

#dhvalor{
    width: 50px;
    float: left;
    margin-left:40px;
}

#dline{
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 550px;
}

#dline:hover{
    background-color: #EFEEEE;
}

#dselec{
    width: 45px;
    padding-top: 13px;
    height: 50px;
    margin-left: 10px;
    float: left;
}

input[type="checkbox"]{
    float: left;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 13px;
    margin-top: 10px;
}

#dsala{
    width: 60px;
    float: left;
    padding-top: 24px;
    margin-left: 20px;
    font-size: 16px;
}

#dhora{
    width: 60px;
    float: left;
    padding-top: 24px;
    font-size: 16px;
    margin-left: 15px;
}

#dvalor{
    width: 70px;
    float: left;
    padding-top: 24px;
    font-size: 16px;
    margin-left: 30px;
}

input[type="number"]{
    float: left;
    width: 28px;
    height: 20px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: default;
}

#dinit{
    width: 100px;
    float: left;
    width: 60px;
    margin-left: 35px;
}

#dmeia{
    width: 100px;
    float: left;
    width: 60px;
    margin-left: 35px;
}

#cbox{
    width: 920px;
    min-height: 300px;
    max-height: 410px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#cbox-hader{
    width: 920px;
    background-color: #2d2d2d;
    height: 40px;
    padding-top: 24px;
    border-radius: 5px 5px 0 0;
    color: whitesmoke;
    font-size: 16px;
}

#cbox-item-box{
    width: 920px;
    max-height: 345px;
    overflow-y: auto;
}

.item-line{
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.item-line:hover{
    background-color: #EFEEEE;
}

#citem-id{
    padding-top: 25px;
    padding-left: 35px;
    width: 40px;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 17px;
    float: left;
}

#dhfilme{
    width: 320px;
    float: left;   
    margin-left: 28px;
}

#citem-filme{
    width: 320px;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    height: 40px;
    padding-top: 25px;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 18px;
}

#citem-data{
    float: left;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    padding-top: 25px;
}

.cbox-hora{
    float: left;
    margin-left: 45px;
    width: 50px;
}

#citem-hora{
    float: left;
    margin-left: 52px;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    padding-top: 25px;
}

#citem-valor{
    margin-left: 40px;
    float: left;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    padding-top: 25px;
    width: 70px;
}

#citem-desc{
    margin-left: 35px;
    float: left;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    padding-top: 25px;
    color: green;
    width: 80px;
}

#citem-exc{
    float: left;
    width: 25px;
    height: 28px;
    background-color: #2d2d2d;
    margin-left: 30px;
    margin-top: 12px;
    padding-top: 10px;
    padding-left: 14px;
    border-radius: 50%;
}
#citem-exc:hover{
    background-color: #b40e0e;
}

#ldel{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}

.cbox-desc{
    margin-left: 35px;
    float: left;
}
#car-erro{
    margin-top: 50px;
    margin-left: 220px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    padding-top: 55px;
    height: 70px;
    padding-left: 160px;
    font-size: 16px;
}

#cbox-footer{
    width: 100%;
    background-color: #F4F4F4;
    height: 40px;
    border-radius: 0 0 5px 5px;
    padding-top: 20px;
    width: 920px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: -3px;
}

#cbox-footer h4{
    float: left;
    margin-left: 30px;
}

#link-comprar{
    float: right;
    margin-right: 30px;
    padding: 10px;
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    margin-top: -10px;
    border-radius: 3px;
    border: 1px solid #2d2d2d;
}
#link-comprar:hover{
    background-color: #cb5432;
}

#nlogin{
    float: right;
    margin-right: 30px;
}

.fade.in {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 600px;
    margin: 30px auto;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
button {
    overflow: visible;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}