body {
    margin-top: 50px;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

/* Table Headers */

table.tablesorter thead {
    cursor: pointer;
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

    /* Wrappers */

    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 15px 25px;
    }

    /* Side Nav */

    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #222222;
        overflow-y: auto;
    }

    /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 15px 15px 15px 25px;
    }

    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #080808;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
    }

    /* Nav Messages */

    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }

    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }

    .navbar-collapse {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}
body #admin{
    background-color: white;
    background-image: none;
}
#h2{
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 25px;
}
#tabcpf{
    padding-left: 25px;
}
#ptext{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.notas{
    color: red;
    font-size: 12px;
}

#bt_alterar{
    padding-left: 23px;
    padding-top: 7px;
    float: right;
    margin-right: 15px;
    width: 90px;
    height: 40px;
    background-color: #222222;
    color: white;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #080808;
    text-decoration: none;
}

#bt_alterar:hover{
    background-color: #428bca;
    border-color: #357ebd;
}

#bt_remover{
    padding-left: 23px;
    padding-top: 7px;
    float: right;
    margin-right: 15px;
    width: 100px;
    height: 40px;
    background-color: #222222;
    color: white;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #080808;
    text-decoration: none;
}
#bt_remover:hover{
    background-color: #b40e0e;
    border-color: #860404;
}
div.growlUI { background: url(check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left
}

#pnativo{
    float: left;
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #c80000;
    background-image: url(../img/cross.png);
    background-size: 100% 100%;
}

#pativo{
    float: left;
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #008200;
    background-image: url(../img/check.png);
    background-size: 100% 100%;
}

#pdesc{
    padding-top: 8px;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 22px;
}

#errormsg{
    border: 1px solid #C1C1C1;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: #FAFAFA;
    padding-left: 215px;
    padding-top: 20px; 
}
#berror{
    background-color: #EFEEEE;
}
#perrormsg{
    margin-left: -100px;
    margin-top: 130px;
    width: 100%;
    font-size: 18px;
}
#h2erro{
    margin-left: 20%;
    margin-top: -58px;
}
#sadicon{
    width: 80px;
    height: 80px;
    background-image: url(../img/sad.png);
    background-size: 100% 100%;
    margin-left: 10%;
    margin-top: 30px;
}
#errorbox{
    margin-top: 65px;
    width: 100%;
    height: 450px;
    text-align: center;
    font-size: 17px;
}
.cbt{
    width: 120px;
    padding-top: 10px;
    height: 45px;
    background-color: #222222;
    border-radius: 3px;
    float: left;
    color: white;
    cursor: pointer;
}
#canc-bt{
    margin-left: 400px;
}
#volt-bt{
    margin-left: 50px;
}
#canc-bt:hover{
    background-color: #b40e0e;
}
#volt-bt:hover{
    background-color: #357ebd;
}