/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* Colors and backgrounds  ----------------------------------------------------*/body {
    color: #656360;
    background: #f1ede8 url(../img/noise-all.png);
}
header,
footer {
    background: #2d2d2d;
}
/* Selection colours (easy to forget) 
::selection {
  background: #cb5432;
}
::-moz-selection {
  background: #cb5432;
}
img::selection {
  background: #cb5432;
}
img::-moz-selection {
  background: #cb5432;
}
body {
  -webkit-tap-highlight-color: #cb5432;
}
*/
#headline,
.masthead {
    color: #444444;
}
.masthead a{
    color: #cb5432;
}
/* NAVIGATION ------------------------------------------------------------*/
#nav > li > a {
    color: #dcd2be;
}
#nav > li:hover > a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-top: 3px solid #cb5432;
}
#nav span:hover {
    -webkit-transform: translate(-10px, -3px);
    -moz-transform: translate(-10px, -3px);
    -o-transform: translate(-10px, -3px);
    transform: translate(-10px, -3px);
}
#nav > li.current-menu-item > a,
#nav > li.current_page_item > a {
    border-top: 3px solid #cb5432;
}
#nav .sfHover ul {
    background: #f8f5f2;
}
#nav .sfHover ul li a {
    color: #444444;
}
#nav .sfHover ul li a:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #cb5432;
}
/* MAIN ------------------------------------------------------------*/
.multiplebgs #main {
    background-image: url(../img/main-bg.png), url(../img/main-bg.png);
    background-repeat: repeat-x, repeat-x;
    background-position: bottom left, top left;
}
.no-multiplebgs #main {
    background: #f1f1f1 url(../img/main-bg.png) repeat-x top left;
}
/* FILTERED ITEMS ----------------------------------------------------*/#filter-buttons li a {
    color: #444;
    border-bottom: 2px solid transparent;
}
#filter-buttons li a:hover,
#filter-buttons li a.selected {
    border-bottom: 2px solid #444;
}
#filter-container figure {
    background: #f8f5f2;
}
#filter-container figure .thumb {
    background: #888 url(../img/icon-link.png) center center no-repeat;
}
#filter-container figure figcaption .heading {
    color: #444444;
}
#filter-container figure figcaption .heading:hover {
    color: #e6e6e6;
}
#filter-container figure .readmore {
    color: #444444;
}
#filter-container figure .readmore:hover h5 {
    color: #cb5432;
}
/* PORTFOLIO ----------------------------------------------------*/#portfolio-content #filter-container a {
    color: #888;
}
#portfolio-content #filter-container a:hover {
    color: #cb5432;
}
#portfolio-content .project-pager a {
    color: #444444;
}
#portfolio-content .project-pager a:hover {
    color: #cb5432;
}
#portfolio-content #project-box {
    background: #f8f5f2;
}
#portfolio-content #project-box .info .launch:hover {
    color: #f1f1f1;
    background: #cb5432;
}
/* RELATED PROJECTS ---------------------------------------------------*/
.related-projects figure .heading {
    color: #444444;
}
.related-projects figure .heading:hover {
    color: #cb5432;
}
.related-projects figure .thumb {
    background: #e6e6e6 url(../img/icon-link.png) no-repeat center center;
}
/* CONTACT  ----------------------------------------------------*/#map-holder {
    background: #f8f5f2;
}
/* BLOG ------------------------------------------------------------*/
#posts-list article .box {
    background: #f8f5f2 url(../img/meta-bg.png) repeat-y top right;
}
#posts-list article .box .entry-date {
    color: #dcd2be;
    background: #2d2d2d;
}
#posts-list article .box .excerpt .post-heading {
    color: #444444;
}
#posts-list article .box .excerpt .post-heading:hover {
    color: #cb5432;
}
#posts-list article .box .excerpt .learnmore {
    background: #2d2d2d;
    color: #f8f5f2;
    padding: 8px;
    font-size: 15px;
    border-radius: 3px; 
}

#posts-list article .box .excerpt .learnmore:hover {
    background: #cb5432;
}
#posts-list article.format-image .feature-image {
    background: #cb5432 url(../img/icon-popup.png) no-repeat center center;
}
body.single #posts-list article {
    background: #f8f5f2;
}
body.single #posts-list .box .meta {
    background: #f8f5f2 url(../img/meta-bg-vertical.png) repeat-x top right;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation a {
    color: #444444;
}
#main .page-navigation a:hover {
    color: #cb5432;
}
/* SIDEBAR ------------------------------------------------------------*/
#sidebar .cat-item a .post-counter,
#sidebar .page_item a .post-counter {
    color: #656360;
}
/* SLIDER ----------------------------------------------------*/
.lof-slidecontent .slider-description {
    color: #e6e6e6;
}
.lof-slidecontent .slider-description a {
    color: #FFF;
}
.lof-slidecontent .slider-description a.readmore {
    color: #fcb019;
}
.lof-slidecontent .active {
    border-top: 3px #cb5432 solid;
}
/* FOOTER ----------------------------------------------------*/
footer {
    color: #dcd2be;
}
footer h4 {
    color: #fff;
}
footer a {
    color: #cb5432;
    cursor: default;
}
footer a:hover {
    color: #fff;
}

#login_box{
    width: 410px;
    height: 280px;
    background-color: #363636;
    margin: 0 auto;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    margin-top: 180px;
    border-radius: 5px;
    opacity: 0.85;
}
h1{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.25;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: whitesmoke;
}
.login_input{
    padding: 8px 10px;
    float: left;
    color: rgb(104, 104, 104);
    width: 225px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #1C1C1C;
}
.l_login{
    float: left;
    text-align: right;
    padding: 10px 5px 0 0;
    width: 100px;
    color: white;
    font-size: 16px;
}
#b_logar{
    padding: 9px;
    background-color: #104E8B;
    color: white;
    width: 90px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #363636;
    cursor: pointer;
    float: right;
    margin-right: 198px;
}
#b_logar:HOVER{
    background-color: whitesmoke;
    color: black;
}
#login_bottom{
    border-top: 1px solid rgb(204, 204, 204);
    margin-top: 50px;
    padding: 5px;
}
#login_bottom a{
    font-size: 13px;
    color: whitesmoke;
    margin-right: 50px;
}
#login_bottom a:hover{
    color: #cb5432;
}
.f_row{
    width: 550px;
    clear: both;
    padding: 10px 0 10px 0;
    margin-top: 20px;
}
.amg_sjbox{
    width: 300px;
    height: 50px;
    background-color: #f8f5f2;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
    margin-bottom: 10px;
}
.amg_imgbox{ 
    width: 70px;
    height: 70px;
    background-color: #363636;
    margin-left: 15px;
    padding: 2px;
    border-radius: 50%;
    position: relative;
    z-index: 999;
}
.amg_imgbox a img {
    width: 70px;
    height: 70px;
    z-index: 999;
    border-radius: 50%;
    background-size: 100% 100%;
}
.pname_sjbox{
    margin-left: 100px;
    padding: 5px;
}
.pname_sjbox a{
    font-family: 'Voltaire', sans-serif;
    font-size: 18px;
    color: #444444;
    cursor: pointer;
}

.bt_alterar{
    padding-top: 9px;
    float: right;
    margin-right: 15px;
    width: 90px;
    height: 30px;
    background-color: #222222;
    color: white;
    font-family: 'Voltaire', Arial, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #080808;
    text-decoration: none;
    text-align: center;
}

.bt_alterar:hover{
    background-color: #428bca;
    border-color: #357ebd;
}

.submitcadastro {
    background: #2d2d2d;
    color: #f8f5f2;
    padding: 8px;
    font-size: 15px;
    border-radius: 3px;   
}

.submitcadastro:hover{
    background-color: #cb5432;
}