/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* RECENT POSTS -----------------------------------------------*/
.recent-post {
    margin-bottom: 21px;
}
.recent-post .thumb {
    width: 54px;
    height: 54px;
    display: block;
    float: left;
    background: #f1f1f1;
    line-height: 0em;
    padding: 3px;
    margin-right: 15px;
    margin-top: -20px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.recent-post .thumb img{
    width: 54px;
    height: 54px;
    background-size: 100% 100%;
    border-radius: 30px;
}
.recent-post span {
    display: block;
}
.recent-post post-head{
    padding-top: 10px;
}
/* CAT ITEMS -----------------------------------------------*/
.widget-cols .cat-item a,
.widget-cols .page_item a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px;
    margin-bottom: 5px;
    background: url(../img/arrow-right.png) no-repeat 0px 0px;
    padding-left: 17px;
}
.widget-cols .cat-item a .post-counter,
.widget-cols .page_item a .post-counter {
    color: #f1f1f1;
}
.widget-cols .cat-item:last-child a,
.widget-cols .page_item:last-child a {
    border-bottom: none;
}
